<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>СГСПУ USO</title>
    <meta name="description" content="Управление студенческими организациями">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome5-overrides.min.css') }}">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div>
                        <h3 class="mb-2" style="text-align: center;">Управление студенческими организациями</h3>
                    </div>
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="background: url( {{ url_for('static',filename= 'assets/img/sgspu_logo.jpg') }}) center / cover no-repeat;"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-2">Добро пожаловать</h4>
                                        <p class="mb-4">Этот сервис поможет студентам преподавателям и работникам учебным заведений упросить организацию студенческих организаций</p>
                                        <div class="row">
                                            {% if alert %}
                                            {{alert}}
                                            {% endif %}
                                            <div class="col"><a class="btn btn-primary" role="button" data-bss-hover-animate="pulse" href="/about">О сервисе</a></div>
                                            <div class="col"><a class="btn btn-primary" role="button" data-bss-hover-animate="pulse" href="/profile">Профиль</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/theme.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bs-init.js') }}"></script>
</body>

</html>